In [288]:
import requests
from bs4 import BeautifulSoup
import numpy as np
import re

In [289]:
state=[]
confirmed_cases=[]
active_cases=[]
recoverd_cases=[]
deaths=[]
url=requests.get('https://www.mygov.in/covid-19')
soup=BeautifulSoup(url.text)
data=soup.find_all('div',class_='marquee_data view-content')
for i in data[0].find_all('span',class_='st_name'):    #Names
    if len(i)==0: 
        state.append(np.nan)
    else:
        state.append(i.text)
for i in data[0].find_all('span',class_='st_number'):   #confirmed_cases
    if len(i)==0: 
        confirmed_cases.append(np.nan)
    else:
        confirmed_cases.append(i.text)
        
for i in data[0].find_all('div',class_='tick-active'):   #active_cases
    if len(i)==0:
        active_cases.append(np.nan)
    else:
        active_cases.append(re.sub(r'[^0-9]','',str(i)))      
        
for i in data[0].find_all('div',class_='tick-discharged'):               #recovered cases
    if len(i)==0:
        recoverd_cases.append(np.nan)
    else:
        recoverd_cases.append(re.sub(r'[^0-9]','',str(i)))  
        
for i in data[0].find_all('div',class_='tick-death'):     #deaths
    if len(i)==0:
        deaths.append(np.nan)
    else:
        deaths.append(re.sub(r'[^0-9]','',str(i)))

In [291]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style(style='darkgrid')

import warnings
warnings.filterwarnings('ignore')

In [292]:
df=pd.DataFrame()
df['State']=state
df['Confirmed_cases']=confirmed_cases
df['Active_cases']=active_cases
df['Recoverd_cases']=recoverd_cases
df['Deaths']=deaths
df

,State,Confirmed_cases,Active_cases,Recoverd_cases,Deaths
0,Andaman and Nicobar,212,53,159,0
1,Andhra Pradesh,"58,668",32336,25574,758
2,Arunachal Pradesh,858,552,303,3
3,Assam,"25,382",7291,18033,58
4,Bihar,"28,952",10220,18515,217
5,Chandigarh,751,221,518,12
6,Chhattisgarh,"5,729",1586,4114,29
7,Dadra and Nagar Haveli and Daman,705,240,463,2
8,Daman and Diu,0,0,0,0
9,Delhi,"1,25,096",15288,106118,3690
10,Goa,"4,027",1552,2449,26
11,Gujarat,"50,379",11760,36423,2196
12,Haryana,"27,462",6146,20952,364
13,Himachal Pradesh,"1,664",576,1077,11
14,Jammu and Kashmir,"15,258",6540,8455,263
15,Jharkhand,"6,159",3200,2904,55
16,Karnataka,"71,069",44146,25459,1464
17,Kerala,"13,994",8060,5890,44
18,Ladakh,"1,198",186,1010,2
19,Lakshadweep,0,0,0,0
20,Madhya Pradesh,"24,095",7082,16257,756
21,Maharashtra,"3,27,031",132538,182217,12276
22,Manipur,"2,015",615,1400,0
23,Meghalaya,490,416,70,4
24,Mizoram,317,149,168,0
25,Nagaland,"1,030",545,485,0
26,Odisha,"18,757",5344,13310,103
27,Puducherry,"2,179",831,1318,30
28,Punjab,"10,889",3237,7389,263
29,Rajasthan,"31,373",8052,22744,577
30,Sikkim,330,222,108,0
31,Tamil Nadu,"1,80,643",51347,126670,2626
32,Telengana,"47,705",9891,37385,429
33,Tripura,"3,331",1397,1926,8
34,Uttar Pradesh,"53,288",20204,31855,1229
35,Uttarakhand,"4,849",1497,3297,55
36,West Bengal,"47,030",17813,28035,1182

In [293]:
df.dtypes

State              object
Confirmed_cases    object
Active_cases       object
Recoverd_cases     object
Deaths             object
dtype: object

In [294]:
def remove(x):
    x=x.apply(lambda x: re.sub(r'[^0-9]','',x))
    return x
for i in df.iloc[:,1:].keys():
    df[i]=remove(df[i])

In [295]:
df['Confirmed_cases']=pd.to_numeric(df['Confirmed_cases'])
df['Active_cases']=pd.to_numeric(df['Active_cases'])
df['Recoverd_cases']=pd.to_numeric(df['Recoverd_cases'])
df['Deaths']=pd.to_numeric(df['Deaths'])

In [296]:
df.dtypes

State              object
Confirmed_cases     int64
Active_cases        int64
Recoverd_cases      int64
Deaths              int64
dtype: object

In [297]:
url=requests.get('https://www.indiatoday.in/education-today/gk-current-affairs/story/indian-states-with-highest-population-1358414-2018-10-08')
url

In [298]:
soup=BeautifulSoup(url.text,'html.parser')

In [299]:
data=soup.find_all('tbody')
data

[<tbody><tr><td style="width: 302px;">State</td><td style="width: 423px;">Population</td><td style="width: 150px;">Area</td><td style="width: 62px;">Population Density</td></tr><tr><td style="width: 302px;">Uttar Pradesh</td><td style="width: 423px;">199,812,341</td><td style="width: 150px;">240,928 km<sup>2</sup></td><td style="width: 62px;">828/km<sup>2</sup></td></tr><tr><td style="width: 302px;">Maharashta</td><td style="width: 423px;">112,372,972</td><td style="width: 150px;">307,713 km<sup>2</sup></td><td style="width: 62px;">365/km<sup>2</sup></td></tr><tr><td style="width: 302px;">Bihar</td><td style="width: 423px;">103,804,637</td><td style="width: 150px;">94,163 km<sup>2</sup></td><td style="width: 62px;">1,102/km<sup>2</sup></td></tr><tr><td style="width: 302px;">West Bengal</td><td style="width: 423px;">91,347,736</td><td style="width: 150px;">88,752 km<sup>2</sup></td><td style="width: 62px;">1,029/km<sup>2</sup></td></tr><tr><td style="width: 302px;">Madhya Pradesh</td><td style="width: 423px;">72,597,565</td><td style="width: 150px;">308,245 km<sup>2</sup></td><td style="width: 62px;">236/km<sup>2</sup></td></tr><tr><td style="width: 302px;">Tamil Nadu</td><td style="width: 423px;">72,138,958</td><td style="width: 150px;">130,058 km<sup>2</sup></td><td style="width: 62px;">555/km<sup>2</sup></td></tr><tr><td style="width: 302px;">Rajasthan</td><td style="width: 423px;">68,621,012</td><td style="width: 150px;">342,239 km<sup>2</sup></td><td style="width: 62px;">201/km<sup>2</sup></td></tr><tr><td style="width: 302px;">Karnataka</td><td style="width: 423px;">61,130,704</td><td style="width: 150px;">191,791 km<sup>2</sup></td><td style="width: 62px;">319/km<sup>2</sup></td></tr><tr><td style="width: 302px;">Gujarat</td><td style="width: 423px;">60,383,628</td><td style="width: 150px;">196,024 km<sup>2</sup></td><td style="width: 62px;">308/km<sup>2</sup></td></tr><tr><td style="width: 302px;">Andhra Pradesh</td><td style="width: 423px;">49,386,799</td><td style="width: 150px;">162,968 km<sup>2</sup></td><td style="width: 62px;">303/km<sup>2</sup></td></tr><tr><td style="width: 302px;">Odisha</td><td style="width: 423px;">41,947,358</td><td style="width: 150px;">155,707 km<sup>2</sup></td><td style="width: 62px;">269/km<sup>2</sup></td></tr><tr><td style="width: 302px;">Telangana</td><td style="width: 423px;">35,286,757</td><td style="width: 150px;">114,840 km<sup>2</sup></td><td style="width: 62px;">307/km<sup>2</sup></td></tr><tr><td style="width: 302px;">Kerala</td><td style="width: 423px;">33,387,677</td><td style="width: 150px;">38,863 km<sup>2</sup></td><td style="width: 62px;">859/km<sup>2</sup></td></tr><tr><td style="width: 302px;">Jharkhand</td><td style="width: 423px;">32,966,238</td><td style="width: 150px;">79,714 km<sup>2</sup></td><td style="width: 62px;">414/km<sup>2</sup></td></tr><tr><td style="width: 302px;">Assam</td><td style="width: 423px;">31,169,272</td><td style="width: 150px;">78,438 km<sup>2</sup></td><td style="width: 62px;">397/km<sup>2</sup></td></tr><tr><td style="width: 302px;">Punjab</td><td style="width: 423px;">27,704,236</td><td style="width: 150px;">50,362 km<sup>2</sup></td><td style="width: 62px;">550/km<sup>2</sup></td></tr><tr><td style="width: 302px;">Chattisgarh</td><td style="width: 423px;">25,540,196</td><td style="width: 150px;">135,191 km<sup>2</sup></td><td style="width: 62px;">189/km<sup>2</sup></td></tr><tr><td style="width: 302px;">Haryana</td><td style="width: 423px;">25,353,081</td><td style="width: 150px;">44,212 km<sup>2</sup></td><td style="width: 62px;">573/km<sup>2</sup></td></tr><tr><td style="width: 302px;">Jammu and Kashmir</td><td style="width: 423px;">12,548,926</td><td style="width: 150px;">222,236 km<sup>2</sup></td><td style="width: 62px;">57/km<sup>2</sup></td></tr><tr><td style="width: 302px;">Uttarakhand</td><td style="width: 423px;">10,116,752</td><td style="width: 150px;">53,483 km<sup>2</sup></td><td style="width: 62px;">189/km<sup>2</sup></td></tr><tr><td style="width: 302px;">Himachal Pradesh</td><td style="width: 423px;">6,864,602</td><td style="width: 150px;">55,673 km<sup>2</sup></td><td style="width: 62px;">123/km<sup>2</sup></td></tr><tr><td style="width: 302px;">Tripura</td><td style="width: 423px;">3,671,032</td><td style="width: 150px;">10,486 km<sup>2</sup></td><td style="width: 62px;">350/km<sup>2</sup></td></tr><tr><td style="width: 302px;">Meghalaya</td><td style="width: 423px;">2,964,007</td><td style="width: 150px;">22,429 km<sup>2</sup></td><td style="width: 62px;">132/km<sup>2</sup></td></tr><tr><td style="width: 302px;">Manipur</td><td style="width: 423px;">2,721,756</td><td style="width: 150px;">22,327 km<sup>2</sup></td><td style="width: 62px;">122/km<sup>2</sup></td></tr><tr><td style="width: 302px;">Nagaland</td><td style="width: 423px;">1,980,602</td><td style="width: 150px;">16,579 km<sup>2</sup></td><td style="width: 62px;">119/km<sup>2</sup></td></tr><tr><td style="width: 302px;">Goa</td><td style="width: 423px;">1,457,723</td><td style="width: 150px;">3,702 km<sup>2</sup></td><td style="width: 62px;">394/km<sup>2</sup></td></tr><tr><td style="width: 302px;">Arunachal Pradesh</td><td style="width: 423px;">1,382,611</td></tr><tr><td style="width: 302px;">Mizoram</td><td style="width: 423px;">1,091,014</td><td style="width: 150px;">21,081 km<sup>2</sup></td><td style="width: 62px;">52/km<sup>2</sup></td></tr><tr><td style="width: 302px;">Sikkim</td><td style="width: 423px;">607,688</td><td style="width: 150px;">7,096 km<sup>2</sup></td><td style="width: 62px;">86/km<sup>2</sup></td></tr></tbody>]

In [300]:
state=[]
pop=[]
for i in data[0].find_all('td',attrs={'style':'width: 302px;'})[1:]:
    state.append(i.text)
for i in data[0].find_all('td',attrs={'style':'width: 423px;'})[1:]:
    pop.append(i.text)

In [301]:
len(state)

29

In [302]:
ds=pd.DataFrame()
ds['State']=state
ds['Population']=pop

In [303]:
ds

                State   Population
0       Uttar Pradesh  199,812,341
1          Maharashta  112,372,972
2               Bihar  103,804,637
3         West Bengal   91,347,736
4      Madhya Pradesh   72,597,565
5          Tamil Nadu   72,138,958
6           Rajasthan   68,621,012
7           Karnataka   61,130,704
8             Gujarat   60,383,628
9      Andhra Pradesh   49,386,799
10             Odisha   41,947,358
11          Telangana   35,286,757
12             Kerala   33,387,677
13          Jharkhand   32,966,238
14              Assam   31,169,272
15             Punjab   27,704,236
16        Chattisgarh   25,540,196
17            Haryana   25,353,081
18  Jammu and Kashmir   12,548,926
19        Uttarakhand   10,116,752
20   Himachal Pradesh    6,864,602
21            Tripura    3,671,032
22          Meghalaya    2,964,007
23            Manipur    2,721,756
24           Nagaland    1,980,602
25                Goa    1,457,723
26  Arunachal Pradesh    1,382,611
27            Mizoram    1,091,014
28             Sikkim      607,688

In [304]:
data=pd.merge(df,ds,how='outer')

In [305]:
data.drop(labels=[5,8,19],inplace=True)

In [306]:
data

,State,Confirmed_cases,Active_cases,Recoverd_cases,Deaths,Population
0,Andaman and Nicobar,212.0,53.0,159.0,0.0,NaN
1,Andhra Pradesh,58668.0,32336.0,25574.0,758.0,"49,386,799"
2,Arunachal Pradesh,858.0,552.0,303.0,3.0,"1,382,611"
3,Assam,25382.0,7291.0,18033.0,58.0,"31,169,272"
4,Bihar,28952.0,10220.0,18515.0,217.0,"103,804,637"
6,Chhattisgarh,5729.0,1586.0,4114.0,29.0,NaN
7,Dadra and Nagar Haveli and Daman,705.0,240.0,463.0,2.0,NaN
9,Delhi,125096.0,15288.0,106118.0,3690.0,NaN
10,Goa,4027.0,1552.0,2449.0,26.0,"1,457,723"
11,Gujarat,50379.0,11760.0,36423.0,2196.0,"60,383,628"
12,Haryana,27462.0,6146.0,20952.0,364.0,"25,353,081"
13,Himachal Pradesh,1664.0,576.0,1077.0,11.0,"6,864,602"
14,Jammu and Kashmir,15258.0,6540.0,8455.0,263.0,"12,548,926"
15,Jharkhand,6159.0,3200.0,2904.0,55.0,"32,966,238"
16,Karnataka,71069.0,44146.0,25459.0,1464.0,"61,130,704"
17,Kerala,13994.0,8060.0,5890.0,44.0,"33,387,677"
18,Ladakh,1198.0,186.0,1010.0,2.0,NaN
20,Madhya Pradesh,24095.0,7082.0,16257.0,756.0,"72,597,565"
21,Maharashtra,327031.0,132538.0,182217.0,12276.0,NaN
22,Manipur,2015.0,615.0,1400.0,0.0,"2,721,756"
23,Meghalaya,490.0,416.0,70.0,4.0,"2,964,007"
24,Mizoram,317.0,149.0,168.0,0.0,"1,091,014"
25,Nagaland,1030.0,545.0,485.0,0.0,"1,980,602"
26,Odisha,18757.0,5344.0,13310.0,103.0,"41,947,358"
27,Puducherry,2179.0,831.0,1318.0,30.0,NaN
28,Punjab,10889.0,3237.0,7389.0,263.0,"27,704,236"
29,Rajasthan,31373.0,8052.0,22744.0,577.0,"68,621,012"
30,Sikkim,330.0,222.0,108.0,0.0,"607,688"
31,Tamil Nadu,180643.0,51347.0,126670.0,2626.0,"72,138,958"
32,Telengana,47705.0,9891.0,37385.0,429.0,NaN
33,Tripura,3331.0,1397.0,1926.0,8.0,"3,671,032"
34,Uttar Pradesh,53288.0,20204.0,31855.0,1229.0,"199,812,341"
35,Uttarakhand,4849.0,1497.0,3297.0,55.0,"10,116,752"
36,West Bengal,47030.0,17813.0,28035.0,1182.0,"91,347,736"
37,Maharashta,NaN,NaN,NaN,NaN,"112,372,972"
38,Telangana,NaN,NaN,NaN,NaN,"35,286,757"
39,Chattisgarh,NaN,NaN,NaN,NaN,"25,540,196"

In [307]:
data.at[0,'Population']=381000
data.at[6,'Population']=25540196
data.at[7,'Population']=585764
data.at[9,'Population']=30291000
data.at[18,'Population']=274000
data.at[21,'Population']=112372972
data.at[27,'Population']=1394467
data.at[32,'Population']=35286757

In [308]:
data.drop(labels=[37,38,39],inplace=True)

In [309]:
data

,State,Confirmed_cases,Active_cases,Recoverd_cases,Deaths,Population
0,Andaman and Nicobar,212.0,53.0,159.0,0.0,381000
1,Andhra Pradesh,58668.0,32336.0,25574.0,758.0,"49,386,799"
2,Arunachal Pradesh,858.0,552.0,303.0,3.0,"1,382,611"
3,Assam,25382.0,7291.0,18033.0,58.0,"31,169,272"
4,Bihar,28952.0,10220.0,18515.0,217.0,"103,804,637"
6,Chhattisgarh,5729.0,1586.0,4114.0,29.0,25540196
7,Dadra and Nagar Haveli and Daman,705.0,240.0,463.0,2.0,585764
9,Delhi,125096.0,15288.0,106118.0,3690.0,30291000
10,Goa,4027.0,1552.0,2449.0,26.0,"1,457,723"
11,Gujarat,50379.0,11760.0,36423.0,2196.0,"60,383,628"
12,Haryana,27462.0,6146.0,20952.0,364.0,"25,353,081"
13,Himachal Pradesh,1664.0,576.0,1077.0,11.0,"6,864,602"
14,Jammu and Kashmir,15258.0,6540.0,8455.0,263.0,"12,548,926"
15,Jharkhand,6159.0,3200.0,2904.0,55.0,"32,966,238"
16,Karnataka,71069.0,44146.0,25459.0,1464.0,"61,130,704"
17,Kerala,13994.0,8060.0,5890.0,44.0,"33,387,677"
18,Ladakh,1198.0,186.0,1010.0,2.0,274000
20,Madhya Pradesh,24095.0,7082.0,16257.0,756.0,"72,597,565"
21,Maharashtra,327031.0,132538.0,182217.0,12276.0,112372972
22,Manipur,2015.0,615.0,1400.0,0.0,"2,721,756"
23,Meghalaya,490.0,416.0,70.0,4.0,"2,964,007"
24,Mizoram,317.0,149.0,168.0,0.0,"1,091,014"
25,Nagaland,1030.0,545.0,485.0,0.0,"1,980,602"
26,Odisha,18757.0,5344.0,13310.0,103.0,"41,947,358"
27,Puducherry,2179.0,831.0,1318.0,30.0,1394467
28,Punjab,10889.0,3237.0,7389.0,263.0,"27,704,236"
29,Rajasthan,31373.0,8052.0,22744.0,577.0,"68,621,012"
30,Sikkim,330.0,222.0,108.0,0.0,"607,688"
31,Tamil Nadu,180643.0,51347.0,126670.0,2626.0,"72,138,958"
32,Telengana,47705.0,9891.0,37385.0,429.0,35286757
33,Tripura,3331.0,1397.0,1926.0,8.0,"3,671,032"
34,Uttar Pradesh,53288.0,20204.0,31855.0,1229.0,"199,812,341"
35,Uttarakhand,4849.0,1497.0,3297.0,55.0,"10,116,752"
36,West Bengal,47030.0,17813.0,28035.0,1182.0,"91,347,736"

In [310]:
url1='https://news.google.com/covid19/map?hl=en-IN&gl=IN&ceid=IN%3Aen&mid=%2Fm%2F03rk0'
page1=requests.get(url1)
page1=page1.text
soup1=BeautifulSoup(page1)

In [311]:
state=[]
Cases_info=[]
url1=requests.get('https://news.google.com/covid19/map?hl=en-IN&gl=IN&ceid=IN%3Aen&mid=%2Fm%2F03rk0')
soup=BeautifulSoup(url1.text)
datas=soup.find_all('tbody',class_='ppcUXd')
for i in datas[0].find_all('div',class_='TWa0lb')[2::]:    #Names
    if len(i)==0: 
        state.append(np.nan)
    else:
        state.append(i.text)
for i in datas[0].find_all('td',class_='l3HOY')[12::5]: #cases per 1M
    if len(i)==0: 
        Cases_info.append(np.nan)
    else:
        Cases_info.append(i.text)

In [312]:
# len(state)

In [313]:
# for i in data[0].find_all('div',class_='TWa0lb')[2::]:
#     print(i.text)

In [314]:
# for i in data[0].find_all('td',class_='l3HOY')[12::5]:
#     print(i.text)

In [315]:
sns=pd.DataFrame()
sns['State']=state
sns['Cases_info']=Cases_info

In [316]:
sns

                          State Cases_info
0                   Maharashtra      2,791
1                    Tamil Nadu      2,589
2                         Delhi      6,519
3                     Karnataka      1,053
4                Andhra Pradesh      1,088
5                 Uttar Pradesh        250
6                       Gujarat        805
7                     Telangana      1,315
8                   West Bengal        496
9                     Rajasthan        441
10                      Haryana      1,059
11                        Assam        865
12                        Bihar        266
13               Madhya Pradesh        318
14                       Odisha        429
15            Jammu and Kashmir      1,167
16                       Kerala        402
17                       Punjab        389
18                    Jharkhand        180
19                 Chhattisgarh        173
20                  Uttarakhand        460
21                          Goa      2,121
22                      Tripura        842
23                   Puducherry      1,500
24                      Manipur        674
25             Himachal Pradesh        238
26                       Ladakh      4,357
27                     Nagaland        449
28            Arunachal Pradesh        629
29                    Meghalaya        176
30                       Sikkim        493
31                      Mizoram        266
32  Andaman and Nicobar Islands        544
33                   Chandigarh    No data
34       Dadra and Nagar Haveli    No data
35                Daman and Diu    No data
36                  Lakshadweep          0

In [317]:
sns.drop(labels=[33,34,35],inplace=True)

In [321]:
data=pd.merge(data,sns,how='left')

In [325]:
data.at[29,'Cases_info']=1315
data.drop(labels=[34,35,36],inplace=True)

In [327]:
data.rename(columns={'Cases_info':'CasesPer1M'},inplace=True)

In [328]:
data

,State,Confirmed_cases,Active_cases,Recoverd_cases,Deaths,Population,CasesPer1M
0,Andaman and Nicobar,212.0,53.0,159.0,0.0,381000,NaN
1,Andhra Pradesh,58668.0,32336.0,25574.0,758.0,"49,386,799","1,088"
2,Arunachal Pradesh,858.0,552.0,303.0,3.0,"1,382,611",629
3,Assam,25382.0,7291.0,18033.0,58.0,"31,169,272",865
4,Bihar,28952.0,10220.0,18515.0,217.0,"103,804,637",266
5,Chhattisgarh,5729.0,1586.0,4114.0,29.0,25540196,173
6,Dadra and Nagar Haveli and Daman,705.0,240.0,463.0,2.0,585764,NaN
7,Delhi,125096.0,15288.0,106118.0,3690.0,30291000,"6,519"
8,Goa,4027.0,1552.0,2449.0,26.0,"1,457,723","2,121"
9,Gujarat,50379.0,11760.0,36423.0,2196.0,"60,383,628",805
10,Haryana,27462.0,6146.0,20952.0,364.0,"25,353,081","1,059"
11,Himachal Pradesh,1664.0,576.0,1077.0,11.0,"6,864,602",238
12,Jammu and Kashmir,15258.0,6540.0,8455.0,263.0,"12,548,926","1,167"
13,Jharkhand,6159.0,3200.0,2904.0,55.0,"32,966,238",180
14,Karnataka,71069.0,44146.0,25459.0,1464.0,"61,130,704","1,053"
15,Kerala,13994.0,8060.0,5890.0,44.0,"33,387,677",402
16,Ladakh,1198.0,186.0,1010.0,2.0,274000,"4,357"
17,Madhya Pradesh,24095.0,7082.0,16257.0,756.0,"72,597,565",318
18,Maharashtra,327031.0,132538.0,182217.0,12276.0,112372972,"2,791"
19,Manipur,2015.0,615.0,1400.0,0.0,"2,721,756",674
20,Meghalaya,490.0,416.0,70.0,4.0,"2,964,007",176
21,Mizoram,317.0,149.0,168.0,0.0,"1,091,014",266
22,Nagaland,1030.0,545.0,485.0,0.0,"1,980,602",449
23,Odisha,18757.0,5344.0,13310.0,103.0,"41,947,358",429
24,Puducherry,2179.0,831.0,1318.0,30.0,1394467,"1,500"
25,Punjab,10889.0,3237.0,7389.0,263.0,"27,704,236",389
26,Rajasthan,31373.0,8052.0,22744.0,577.0,"68,621,012",441
27,Sikkim,330.0,222.0,108.0,0.0,"607,688",493
28,Tamil Nadu,180643.0,51347.0,126670.0,2626.0,"72,138,958","2,589"
29,Telengana,47705.0,9891.0,37385.0,429.0,35286757,1315
30,Tripura,3331.0,1397.0,1926.0,8.0,"3,671,032",842
31,Uttar Pradesh,53288.0,20204.0,31855.0,1229.0,"199,812,341",250
32,Uttarakhand,4849.0,1497.0,3297.0,55.0,"10,116,752",460
33,West Bengal,47030.0,17813.0,28035.0,1182.0,"91,347,736",496